<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Free Fries</title>
  </head>
  <body>
        <p>Did raptors score more than 13 three pointers? <%= freeFries %></p>
        <p>They made <%= numberOfMadeThreePointers %> three pointers.</p>
  </body>
</html>
